# Set the default charset.
AddDefaultCharset UTF-8

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Enable symlinks
Options +FollowSymlinks

# Enable mod_rewrite
RewriteEngine On
RewriteBase /

# ✅ FIX: Redirect /backend to /backend/
RewriteCond %{REQUEST_URI} ^/backend$
RewriteRule ^backend$ /backend/ [R=301,L]

# Backend redirect
RewriteCond %{REQUEST_URI} ^/backend
RewriteRule ^backend/(.*)$ /backend/web/$1 [L]

# # blogger redirect
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api/(.*)$ /api/web/$1 [L]

# # Storage redirect
# RewriteCond %{REQUEST_URI} ^/bima_facts/store
# RewriteRule ^storage/(.*)$ bima_facts/storage/$1 [L]

# Frontend redirect
RewriteCond %{REQUEST_URI} ^/(.*)$
RewriteRule ^(.*)$ /frontend/web/$1
